* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* griglia */

#griglia {
  width: 80%;
  height: 100vh;
  border-right: 1px solid black;
}

.riga {
  display: flex;
  align-items: flex-start;
}

.riga div {
  width: calc(100% / 8);
  height: calc(100vh / 8);
  border: 1px solid black;
}

/* classi colori */

/* .green {
  background-color: green;
}

.red {
  background-color: red;
} */
